@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-blue: #29d0bf;
    --main-gray: #2c4755;
    --main-duration: 0.5s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}